*.class
main/JavaParser.java
main/JavaParserConstants.java
main/JavaParserTokenManager.java
main/ParseException.java
main/SimpleCharStream.java
main/Token.java
main/TokenMgrError.java
temp/*
.classpath
.project

javaLookup.txt

differences.txt
.idea/
target/
